<button class="flex h-12 w-64 flex-row items-center space-x-8 rounded-2xl transition-colors duration-300 ease-in-out hover:bg-bg-grey hover:text-white @(SelectedNav == Index ? "shadow-sm bg-dark-yellow text-black" : "")" @onclick="OnClick">
    <div class="mx-4 flex flex-row space-x-4">
        <div class="w-6">
            @Icon
        </div>
        <p>@Name</p>
    </div>
</button>

@code {
    [Parameter]
    public RenderFragment Icon { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public int SelectedNav { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<int> IndexChange { get; set; }

    private async Task OnClick()
    {
        SelectedNav = Index;

        await IndexChange.InvokeAsync(Index);

        Console.WriteLine(Index + " = Local Index");
    }
}
